*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #292436;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #e26d0c;
    padding: 20px;
    border-radius: 10px;
}

.calculator span {
    font-size: 0.8rem;
    text-align: start;
    color: #f0e7e1;
    font-style: italic;
    font-weight: 400;
    box-shadow: -13px 4px 13px -3px rgba(224,203,171,0.75);
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px  -8px 15px #2e1704e3,5px  5px 15px #d3cbc4;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    transition: box-shadow .15s,transform .15s;
}

input[type="button"]:hover {
    background-color: white;
    color: #e26d0c;
}


input[type="button"]:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}



form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input#equal {
    width: 145px;
}

